h2 Sign up
%script{:src => "https://code.jquery.com/jquery-3.1.1.min.js"}
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"}
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "UTF-8"}/

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
= devise_error_messages!

div
= f.label :first_name
br
= f.text_field :first_name, autofocus: true

div
= f.label :last_name
br
= f.text_field :last_name

div
= f.label :email
br
= f.email_field :email

div
= f.label :password
br
= f.password_field :password

div
= f.label :password_confirmation
br
= f.password_field :password_confirmation

div
= f.label :date_of_birth
br
= f.date_field :date_of_birth, :start_year => 1900

div
= f.label :country_of_residence
br
= f.text_field :country_of_residence

div
= f.label :city_of_residence
br
= f.text_field :city_of_residence

div
= f.label :contact_phone
br
= f.text_field :contact_phone

div
= f.label :education
br
= f.text_field :education

div
= f.label :work
br
= f.text_field :work

div
= f.label :interests
br
= f.text_field :interests

div
= f.label :capabilities
br
= f.text_field :capabilities

div
= f.submit 'Sign up'

= render 'devise/shared/links'
