.ui.centered.grid
  .five.wide.column
    %h2
      - if comment.user.first_name
        #{link_to "#{comment.user.first_name}", user_path(comment.user.id)}
      - else
        #{link_to "Anon", user_path(comment.user.id)}
    %p
      = comment.body
    - if comment.user.capabilities != nil || comment.capabilities != ""
      %p
        - if comment.user.first_name
          #{comment.user.first_name}'s capabilities:
        - else
          Anon's capabilities:
        #{comment.user.capabilities}
        = comment.capabilities
    - if comment.price == comment.adventure.price
      -if comment.user.first_name
        #{comment.user.first_name} agrees with #{comment.adventure.action_adventure}-seeker's offer
      - else
        Anon agrees with #{comment.adventure.action_adventure}-seeker's offer
    - else
      -if comment.user.first_name
        #{comment.user.first_name} would like to get #{comment.cost} instead
      - else
        Anon would like to get #{comment.price} instead
      %p
        #{comment.user.first_name}'s price:
        = comment.price
    %p
      %img.ui.big.image{:src => comment.image_urls.to_s}/
    %h4
    = time_ago_in_words(comment.created_at)
    ago
    = comment.created_at
    = form_for :chat_room, method: :post, url: chat_rooms_path, class: 'btn btn-primary'  do |f|
      = f.hidden_field :host_name, value: comment.user.first_name
      = f.hidden_field :friend_id, value: comment.user.id
      = f.submit 'Choose This Guide'
    - if comment.adventure.user_id == current_user.id || comment.user_id == current_user.id
      = link_to 'Delete', [comment.adventure,comment], method: :delete, data: { confirm: 'Are you sure?' }

