.ui.centered.grid
  .five.wide.column
    %h2
      #{comment.user.first_name}
    %p
      = comment.body
    %p
      #{comment.user.first_name}'s capabilities:
      #{comment.user.capabilities}
      = comment.capabilities
    %p
    #{comment.user.first_name}'s price:
    = comment.price
    %p
      %img.ui.big.image{:src => comment.image_urls.to_s}/
    %h4
    = time_ago_in_words(comment.created_at)
    ago
    = comment.created_at
    %p.lead= link_to 'Choose This Guide', new_chat_room_path, class: 'btn btn-primary'
    = link_to_if comment.adventure.user_id == current_user.id || comment.user_id == current_user.id, 'Delete', [comment.adventure,comment], method: :delete, data: { confirm: 'Are you sure?' }

