%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "utf-8"}/
%script{:src => "https://code.jquery.com/jquery-3.1.1.min.js"}
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"}
:css
  .mybox {
    position: relative;
    top: -158px;
    left: 0px;
    width: 640px;
    z-index: 200;
    float: left;
    margin-bottom: 10px;
    padding-top: 10px;
    font-family: 'pproxima_nova_ltthin', sans-serif;
    font-size: 12px;
  }
  .upperline {
    width: 640px;
    position: relative;
    left: 0px;
    top: -168px;
    border:none;
    border-top:1px black;
    margin-top: 32px;
    color: black;
    background-color: black;
    height:1px;
    z-index:99;
    float: left;
  }
  .username {
    font-family: 'pproxima_nova_ltthin', sans-serif;
    font-size: 12px;
    position: absolute;
    left: 40px;
    float: left;
  }
  .avatarka {
    width: 32px;
    height: 32px;
    top: -10px;
    z-index: 300;
    margin: 0px;
    padding: 0px;
    float: left;
  }
  .commentbodymessage {
    position: relative;
    top: 8px;
    left: -1px;
    width: 640px;
    z-index: 200;
    background-color: white;
    padding: 10px;
    float: left;
    font-family: 'pproxima_nova_ltthin', sans-serif;
    font-size: 12px;
    border: 1px solid black;
  }

  button.choosethisguide {
    position: relative;
    left: 448px;
    top: 13px;
    height: 30px;
    width: 120px;
    -webkit-appearance: none;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid black;
    padding-top: 5px;
    text-align: center;
    border-radius: 0px;
    box-sizing: border-box;
    color: black;
    resize: none;
    font-family: 'pproxima_nova_ltthin', sans-serif;
    font-size: 14px;
    background-color: #bee5fb;
    z-index: 400;
    float: left;
  }

  button.choosethisguide:hover {
    background-color: #7FCCF7;
  }


:javascript
  $(document).ready(function(){
    $(".mymodalg").click(function(){
    $(this).parent().children('.ui.container').children('.ui.modal').modal('show');
    });
  });

%body
  .upperline
  .mybox
    .avatarka
      %img{:href => user_path(comment.user.id), :src => "/assets/logos/user.png", :width => "30"}
    .username
      #{link_to "#{comment.user.first_name}", user_path(comment.user.id)} from #{comment.user.city_of_residence} answered #{time_ago_in_words(local_time(comment.created_at))} ago:
    .commentbodymessage
      = comment.body
    - if user_signed_in?
      - if (comment.adventure.user_id == current_user.id || comment.user_id == current_user.id) && comment.adventure.completed != true
        %p
          .dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :type => "button", :style => "padding: 20px; cursor: pointer; z-index: 500; position: relative; float: left; left: 460px;"}
              %img{:src => "/assets/logos/dots.png", :width => "30"}/
            .dropdown-menu.ooooo{"aria-labelledby" => "dropdownMenuButton", :style => "position: absolute; top: 150px; left: 355px; -webkit-appearance: none; margin: 5px 0; border-radius: 0px; box-sizing: border-box;   width: 60px; color: black; resize: none; font-family: 'pproxima_nova_ltthin', sans-serif; font-size: 14px;"}
              = link_to 'DELETE COMMENT', [comment.adventure,comment], method: :delete, :style=>'color:black; margin-left: 40px; text-align: center; float: left; width: 60px;',data: { confirm: 'Are you sure?' }
    - if user_signed_in?
      - if comment.user.id != current_user.id && comment.user.id != comment.adventure.user.id && current_user.id == comment.adventure.user.id && comment.adventure.completed != true
        .mymodalg
          %button.choosethisguide CHOOSE & PAY
        .ui.container
          .ui.modal
            %i.close.icon
            .header
              Choose Payment Method:
            .content
              %p
              %h2
                We apologise, but online payment is currently under construction. Please give the money to your guide in person.
              = form_for :chat_room, method: :post, url: friendships_path, class: 'btn btn-primary'  do |f|
                = f.hidden_field :host_name, value: comment.user.first_name
                = f.hidden_field :friend_id, value: comment.user.id
                = f.hidden_field :adventure_id, value: comment.adventure.id
                %b
                .two.ui.buttons
                  %button.massive.ui.left.attached.button
                    %i.money.icon
                    Pay in Person
                  %button.massive.ui.disabled.right.attached.button
                    %i.credit.card.alternative.icon
                    Pay Online



