:css
  .avatar {
    position: relative;
    left: 360px;
    top: 1px;
    width: 120px;
  }
  .name {
    position: relative;
    left: 497px;
    top: 22px;
    font-size: 33px;
    text-transform: uppercase;
  }

  .residence {
    position: relative;
    left: 498px;
    top: -90px;
    font-size: 18px;
  }
  .mobile {
    position: relative;
    left: 498px;
    top: -56px;
    font-size: 16px;
    color: grey;

  }
  .email {
    position: relative;
    left: 498px;
    top: -54px;
    font-size: 16px;
    color: grey;
  }
  .line {
    position: relative;
    top: -36px;
    left: 360px;
    width: 660px;
    border:none;
    border-top:1px dashed black;
    color:#fff;
    background-color:#fff;
    height:1px;
  }
  .gave_actions {
    position: relative;
    left: 370px;
    top: -31px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
    color: black;
    resize: none;
    font-family: 'pproxima_nova_ltthin', sans-serif;
    font-size: 11px;
  }

  .gave_advices {
    position: relative;
    left: 500px;
    top: -66px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
    color: black;
    resize: none;
    font-family: 'pproxima_nova_ltthin', sans-serif;
    font-size: 11px;
  }

  .asked_actions {
    position: relative;
    left: 630px;
    top: -101px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
    color: black;
    resize: none;
    font-family: 'pproxima_nova_ltthin', sans-serif;
    font-size: 11px;
  }

  .asked_advices {
    position: relative;
    left: 760px;
    top: -136px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
    color: black;
    resize: none;
    font-family: 'pproxima_nova_ltthin', sans-serif;
    font-size: 11px;
  }
  .ranking {
    position: relative;
    left: 890px;
    top: -171px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
    color: black;
    resize: none;
    font-family: 'pproxima_nova_ltthin', sans-serif;
    font-size: 11px;
  }



.name
  #{@user.first_name}
.avatar
  %img{:src => "/assets/logos/user.png", :width => "120",}/
.residence
  From #{@user.city_of_residence}
-if @var || @user.id == current_user.id || current_user.admin
  .mobile
    - if @user.contact_phone != ''
      Mobile: #{@user.contact_phone}
-if @var || @user.id == current_user.id || current_user.admin
  .email
    E-mail: #{@user.email}
.line
.gave_actions
  GAVE ACTIONS (#{current_user.asked_actions})
.gave_advices
  GAVE ADVICES (#{current_user.gave_advices})
.asked_actions
  ASKED ACTIONS (#{current_user.asked_advices})
.asked_advices
  ASKED ADVICES (#{current_user.gave_actions})
.ranking
  RATING (n/a)




/- if @user.education
/  .ui.segment
/    Educational Interests: #{@user.education}
/-if @var || @user.id == current_user.id
/  - if @user.work
/    .ui.segment
/      Professional Interests: #{@user.work}
/-if @var || @user.id == current_user.id
/  - if @user.interests
/    .ui.segment
/      Hobbies: #{@user.interests}
/-if @var || @user.id == current_user.id
/  - if @user.capabilities
/    .ui.segment
/      Capabilities: #{@user.capabilities}






