%h2 Edit Adventure
%script{:src => "https://code.jquery.com/jquery-3.1.1.min.js"}
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"}
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "UTF-8"}/


= form_tag adventure_path(@adventure), :method => :put do
  -if current_user.admin
    %select{:name => "adventure[paid]"}
      %option{:value => "paid"} Paid
      %option{:value => "not paid"} Not Paid
  -else
    = hidden_field :adventure, :paid, value: @adventure.paid
  -if  @adventure.rating
    = hidden_field :adventure, :rating, value: @adventure.rating
  -else
    -if current_user.id == @adventure.user.id
      %select{:name => "adventure[rating]"}
        %option{:value => "5"} 5
        %option{:value => "4"} 4
        %option{:value => "3"} 3
        %option{:value => "2"} 2
        %option{:value => "1"} 1
  -if @adventure.inviter
    = hidden_field :adventure, :inviter, value: @adventure.inviter
  -else
    -if current_user.id != @adventure.user.id
      = number_field :adventure, :inviter, :value => 0
  = submit_tag 'Save Changes'
= link_to 'Back to adventure list', adventures_path(@adventure)
