.ui.centered.grid
  .ui.centered.items
    .ui.segments
      .ui.inverted.segment
        %h1 Create New Adventure
        = form_tag adventures_path, :method => :post do
          = label :adventure, :number_of_people, 'I'
          = select :adventure, :number_of_people, ['Only me','+1','+2','+3','+4', '+5', 'me and more than 5 others']
          = label :adventure, :action_adventure, 'need'
          = select :adventure, :action_adventure, ['action','advice']
          = label :adventure, :country, 'in (What country are you going to?)'
          = select :adventure, :country, @countries
          %p
          = label :adventure, :city, 'What city are you going to?'
          = text_field :adventure, :city
          = label :adventure, :adventure_date, 'choose date'
          = date_select :adventure, :adventure_date, :start_year => Date.today.year
          %p
          = label :adventure, :description, 'Ask locals anything'
          .ui.form
            .field
              #{text_area :adventure, :description}
          %p
          = label :adventure, :description, 'Any details?'
          .ui.form
            .field
              #{text_area :adventure, :details}
          %h1
            = label :adventure, :price, 'I am willing to offer'
            = number_field :adventure, :price
          %button.ui.inverted.olive.button Save Changes

.ui.centered.grid
  .fifteen.wide.column
    .ui.centered.items
      %h2 All Adventures
      .ui.segments
        - @adventures.sort {|a,b| b.created_at <=> a.created_at }.each do |ad|
          .twenty.wide.item
            .ui.segment
              .content
              .meta
              .eight.wide.column
                - if ad.user.first_name
                  #{link_to "#{ad.user.first_name}", user_path(ad.user.id)} needs #{ad.action_adventure}
                - else
                  #{link_to "Anon", user_path(ad.user.id)} needs #{ad.action_adventure}
                %p
                %a.img.ui.small.circular.image{:href => user_path(ad.user.id)}
                  %img{:src => ad.user.avatar_url.to_s}/
                %p Number of people: #{ad.number_of_people}
                - if ad.city != ""
                  %p #{ad.city},  #{ad.country} on #{ad.adventure_date.strftime("%B %d, %Y")}
                - else
                  %p Any city in #{ad.country} on #{ad.adventure_date.strftime("%B %d, %Y")}
                %p
                  #{ad.description}
                - if ad.details != ""
                  Details
                  %p
                  #{ad.details}
                - if ad.price
                  - if ad.user.first_name
                    #{ad.user.first_name}'s offer: $#{ad.price}
                  - else
                    Anon's offer: $#{ad.price}
                - else
                  - if ad.user.first_name
                    #{ad.user.first_name} would like to get this #{ad.action_adventure} for free
                  - else
                    Anon would like to get this #{ad.action_adventure} for free

                - if ad.user.id == current_user.id
                  #{link_to '<i class="big olive write icon"></i>'.html_safe, edit_adventure_path(ad)}
                  #{link_to '<i class="big olive trash outline icon"></i>'.html_safe, adventure_path(ad), :method => :delete}
                %br/
                = ad.comments.count
                answer(s)
                %p
                - ad.comments.each do |c|
                  .ui.very.padded.segment
                    %p
                      = render c
                Answer:
                = form_for([ad,ad.comments.build]) do |f|
                  %p
                    #{current_user.first_name}
                  %p
                    = f.text_area :body
                  - if current_user.capabilities
                    %p
                      Choose which of your capabilities to include:
                    %p
                      #{current_user.capabilities}
                    %p
                      Any other relevant capabilities?
                  - else
                    Any relevant capabilities?
                    %p
                    = f.text_area :capabilities
                  %p
                    = f.file_field :image, multiple:true
                  %p
                    = f.label :price, 'I would like to get'
                    = f.number_field :price
                    instead
                  %p
                    = f.submit
