!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Semantic UI
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"}
    %script{:src => "https://code.jquery.com/jquery-1.12.4.min.js"}

    :javascript
      $(document).ready(function() {
          $('#showHiddenBlock').click(function() {
              $('#initiallyHiddenBlock').slideToggle();
          });
      });

    :css
      #initiallyHiddenBlock {
          display: none;
      }
  %body
.ui.centered.grid
  .ui.centered.items
    .ui.segments
      .ui.inverted.blue.segment
        %h1 Create New Adventure
        = form_tag adventures_path, :method => :post do
          = label :adventure, :number_of_people, 'I'
          /! .ui.container
          /!  %select#quantity-select.ui.select.dropdown{:adventure.number_of_people => "number_of_people"}
          /!   %option{:number_of_people => "Only me"} Only me
          /!   %option{:number_of_people => "+1"} +1
          /!   %option{:number_of_people => "+2"} +2
          /!   %option{:number_of_people => "+3"} +3
          /!  %option{:number_of_people => "+4"} +4
          /!  %option{:number_of_people => "+5"} +5
          /!  %option{:number_of_people => "me and more than 5 others"} and more than 5 others
          /! :javascript
          /!  $('#quantity-select').dropdown();

          = select :adventure, :number_of_people, ['Only me','+1','+2','+3','+4', '+5', 'me and more than 5 others']
          = label :adventure, :action_adventure, 'need'
          = select :adventure, :action_adventure, ['action','advice']
          = label :adventure, :country, 'in (What country are you going to?)'
          = select :adventure, :country, @countries
          %p
          = label :adventure, :city, 'What city are you going to?'
          = text_field :adventure, :city
          = label :adventure, :adventure_date, 'choose date'
          = date_select :adventure, :adventure_date, :start_year => Date.today.year
          %p
          = label :adventure, :description, 'Ask locals anything'
          .ui.form
            .field
              #{text_area :adventure, :description}
          %p
          = label :adventure, :description, 'Any details?'
          .ui.form
            .field
              #{text_area :adventure, :details}
          %p
          .ui.two.column.grid
            .column
            .left.aligned.column
              %h1
                = label :adventure, :price, 'I am willing to offer:'
          .ui.two.column.centered.grid
            .column
            .column
              .ui.form
                .sixteen.wide.field
                  #{number_field :adventure, :price}
          %p
          %button.ui.inverted.teal.button Save Changes

.ui.centered.grid
  .ten.wide.column
    .ui.centered.items
      %h2 All Adventures
      .ui.segments
        - @adventures.sort {|a,b| b.created_at <=> a.created_at }.each do |ad|
          .twenty.wide.item
            .ui.segment
              .content
              .meta
              .eight.wide.column
                - if ad.user.first_name
                  #{link_to "#{ad.user.first_name}", user_path(ad.user.id)} needs #{ad.action_adventure}
                - else
                  #{link_to "Anon", user_path(ad.user.id)} needs #{ad.action_adventure}
                %p
                %a.img.ui.small.circular.image{:href => user_path(ad.user.id)}
                  %img{:src => ad.user.avatar_url.to_s}/
                %p Number of people: #{ad.number_of_people}
                - if ad.city != ""
                  %p #{ad.city},  #{ad.country} on #{ad.adventure_date.strftime("%B %d, %Y")}
                - else
                  %p Any city in #{ad.country} on #{ad.adventure_date.strftime("%B %d, %Y")}
                %p
                  #{ad.description}
                - if ad.details != ""
                  %button.ui.inverted.blue.button.toggle-btn#showHiddenBlock{:type => "button"} Details
                  %p
                  %d#initiallyHiddenBlock
                    %h2 Details
                    %p
                    #{ad.details}
                %p
                - if ad.price
                  - if ad.user.first_name
                    #{ad.user.first_name}'s offer: $#{ad.price}
                  - else
                    Anon's offer: $#{ad.price}
                - else
                  - if ad.user.first_name
                    #{ad.user.first_name} would like to get this #{ad.action_adventure} for free
                  - else
                    Anon would like to get this #{ad.action_adventure} for free
                %p
                - if ad.user.id == current_user.id
                  #{link_to '<i class="big olive write icon"></i>'.html_safe, edit_adventure_path(ad)}
                  #{link_to '<i class="big olive trash outline icon"></i>'.html_safe, adventure_path(ad), :method => :delete}
                %h4
                  Created
                  = time_ago_in_words(ad.created_at)
                  ago, on
                  = ad.created_at.strftime("%D")
                %br/
                = ad.comments.count
                answer(s)
                %p
                - ad.comments.each do |c|
                  .ui.very.padded.segment
                    %p
                      = render c

                - if ad.user.id != current_user.id && ad.comments.find_by(:user_id =>current_user.id) == nil
                  Answer:
                  = form_for([ad,ad.comments.build]) do |f|
                    %p
                      #{current_user.first_name}
                    %p
                      = f.text_area :body
                    - if current_user.capabilities
                      %p
                        Choose which of your capabilities to include:
                      %p
                        #{current_user.capabilities}
                      %p
                        Any other relevant capabilities?
                    - else
                      Any relevant capabilities?
                      %p
                      = f.text_area :capabilities
                    %p
                      = f.file_field :image, multiple:true
                    %p
                      = f.label :price, 'I would like to get'
                      = f.number_field :price
                      instead
                    %p
                      = f.submit
