%h2 Create New Adventure

= form_tag adventures_path, :method => :post do

  = label :adventure, :number_of_people, 'Myself and'
  = select :adventure, :number_of_people, ['No others','+1','+2','+3','+4', '+5', 'more than 5 others']

  = label :adventure, :country, 'Country:'
  = select :adventure, :country, @countries

  = label :adventure, :city, 'City:'
  = text_field :adventure, :city

  = label :adventure, :description, 'Ask locals anything'
  = text_field :adventure, :description

  = label :adventure, :details, 'Details'
  = text_field :adventure, :details

  = label :adventure, :adventure_date, 'Choose date'
  = date_select :adventure, :adventure_date, :start_year => Date.today.year

  = label :adventure, :price, 'I am willing to offer'
  = number_field :adventure, :price

  = submit_tag 'Save Changes'
