%h2 Create New Adventure
%script{:src => "https://code.jquery.com/jquery-3.1.1.min.js"}
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"}
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "UTF-8"}/

= form_tag adventures_path, :method => :post do

  = label :adventure, :number_of_people, 'I'
  = select :adventure, :number_of_people, ['Only me','+1','+2','+3','+4', '+5', 'me and more than 5 others']

  = label :adventure, :action_adventure, 'need'
  = select :adventure, :action_adventure, ['action','advice']

  = label :adventure, :country, 'in (What country are you going to?)'
  = select :adventure, :country, @countries

  = label :adventure, :city, 'What city are you going to?'
  = text_field :adventure, :city

  = label :adventure, :description, 'Ask locals anything'
  = text_area :adventure, :description

  = label :adventure, :details, 'Details'
  = text_area :adventure, :details

  #my_div.field
    = label :adventure, :adventure_date, 'choose date'
    = date_select :adventure, :adventure_date, :start_year => Date.today.year

  = label :adventure, :price, 'I am willing to offer'
  = number_field :adventure, :price

  = submit_tag 'Save Changes'
= link_to 'Back to adventure list', adventures_path
