%h2 Details about Adventure
%script{:src => "https://code.jquery.com/jquery-3.1.1.min.js"}
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"}
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "UTF-8"}/
:css
  /* visited link */
  a:visited {
    color: #C7EA46;
  }
  a:hover {
    color: white;
  }
%ul@adventure.details
  %li
    Number of people:
    = @adventure.number_of_people
  %li
    Country:
    = @adventure.country
  %li
    City:
    = @adventure.city
  %li
    Description:
    = @adventure.description
  %li
    Offer:
    = number_to_currency(@adventure.price)
  %li
    Scheduled for:
    = @adventure.adventure_date.strftime("%B %d, %Y")



= link_to '<i class="big write icon"></i>'.html_safe, edit_adventure_path(@adventure)
= link_to '<i class="big reply icon"></i>'.html_safe, adventures_path
= link_to '<i class="big trash outline icon"></i>'.html_safe, adventure_path(@adventure), :method => :delete

