!!! 5
%html
  %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js", :type => "text/javascript"}
  = javascript_include_tag "application"
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", :type => "text/javascript"}
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js", :type => "text/javascript"}
  %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBjrep_jwH3Ej6ZwWhRuoDILRNt2RpElqA&callback=initMap", :type => "text/javascript"}

  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:charset => "utf-8"}/
  %script{:src => "https://code.jquery.com/jquery-3.1.1.min.js"}
  %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
  %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}

  %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css", :rel => "stylesheet"}/
  %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/

  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"}


  :css
    ul {
        list-style-type: none; !important;
        margin: 0; !important;
        padding: 0; !important;
        overflow: hidden; !important;
        background-color: #333; !important;
        height: 70px; !important;
    }

    li {
        float: left; !important;
    }

    li a {
        font-family: Futura, "Trebuchet MS", Arial, sans-serif; !important;
        display: block; !important;
        color: white, !important;
        text-align: center; !important;
        padding: 24px 16px; !important;
        text-decoration: none; !important;
    }
    .spetialcase {
        font-family: Futura, "Trebuchet MS", Arial, sans-serif; !important;
        display: block; !important;
        color: white, !important;
        text-align: center; !important;
        padding: 14px 16px; !important;
        text-decoration: none; !important;
    }

    li a:hover {
        background-color: #111; !important;
    }

    lo {
        float: right; !important;
    }

    .container-1 .styled{
        font-family: Futura, "Trebuchet MS", Arial, sans-serif; !important;
        position: relative; !important;
        top: 15px; !important;
        right: 20px; !important;
        width: 300px; !important;
        height: 40px; !important;
        background: #325C74; !important;
        border: none; !important;
        font-size: 12pt; !important;
        float: left; !important;
        color: #e7e7e7;!important ;
        padding-left: 40px; !important;
        border-top-left-radius: 5px; !important;
        border-bottom-left-radius: 4px; !important;
    }

    .container-1 .styled:hover, .container-1 .styled:focus, .container-1 .styled:active{
        outline:none; !important;
        background-color: #e7e7e7; !important;
        color: #325C74; !important;
    }

    i.fa.fa-search {
        position: relative; !important;
        left: 100px; !important;
        z-index: 1;!important;
    }

    .inline {
        display: inline; !important;
    }

    .button4 {
        position: relative; !important;
        top: 15px; !important;
        right: 20px; !important;
        font-family: Futura, "Trebuchet MS", Arial, sans-serif; !important;
        background: #325C74; !important;
        color: #e7e7e7;!important;
        border: none; !important;
        border-top-right-radius: 5px; !important;
        border-bottom-right-radius: 5px; !important;
        height: 40px; !important;
        width: 70px; !important;
    }

    .button4:hover {
        background-color: #e7e7e7; !important;
        color: #325C74; !important;
    }

    i.search.icon {
       color: #e7e7e7; !important;
       position: relative; !important;
       top: 25px; !important;
       left: 10px; !important;
       z-index: 1; !important;
    }

    .logostyle {
        position: relative; !important;
        top: -20px; !important;
    }

  %head
    %title TWIGS
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %body
      %ul
        %li
          = link_to root_path do
            .logostyle
              = image_tag "logos/t.png", width: '90px'
        - if user_signed_in?
          %li
            %a{:href => user_path(current_user.id)} My Profile
          %li
            %a{:href => chat_rooms_path} Messages
          %li
            %a{:href => destroy_user_session_path, :method => :get} Log Out
          - if current_user.admin
            %li
              %a{:href => users_path} User List
        - else
          %ul
            %li
              %a{:href => new_registration_path(resource_name)} Sign up
            %li
              %a{:href => new_user_session_path} Login
        - if @search
          %lo
            = search_form_for @search do |f|
              .box
                .container-1
                  .inline
                    = f.text_field :city_cont, :placeholder => 'Find Adventures in any City', class: 'styled'
                  .inline
                    %button.button.button4 Search

          %lo
            %i.search.icon



    -# this goes just inside %body:
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    = yield
